.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 142px;
}

.u-section-2 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 295px;
  min-width: 160px;
  margin: 50px auto;
}

.u-section-2 .u-icon-1 {
  height: 60px;
}

.u-section-2 .u-icon-2 {
  height: 60px;
}

.u-section-2 .u-icon-3 {
  height: 60px;
}

.u-section-2 .u-icon-4 {
  height: 60px;
  color: rgb(255, 69, 0) !important;
}

.u-section-2 .u-icon-5 {
  height: 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}