.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}@font-face {
  font-family: 'Quantum';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Quantum.otf);
}