 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-text-1 {
  margin: 49px auto 0 107px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  margin: 20px auto 0 107px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 25px auto 31px 107px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 22px;
}

.u-section-3 .u-text-1 {
  font-size: 0.75rem;
  width: 197px;
  margin: 2px auto 1px;
}