 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 290px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 0 107px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  margin: 20px auto 0 107px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 25px auto 31px 107px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 25px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 27px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-bottom: 40px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 48px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-bottom: 60px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 60px;
}