 .u-section-1 {
  background-image: url("../../images/Screenshot2024-11-24233645.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-image-1 {
  width: 491px;
  height: 491px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 278px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 291px;
}

.u-section-2 .u-image-1 {
  width: 226px;
  height: 226px;
  margin: 33px auto 0 72px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -226px 230px 0 348px;
}

.u-section-2 .u-text-2 {
  margin: 89px 230px 0 348px;
}

.u-section-2 .u-image-2 {
  width: 206px;
  height: 61px;
  margin: -133px auto 60px 348px;
}

.u-section-2 .u-text-3 {
  margin: 30px 230px 60px 348px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 149px;
    margin-left: 322px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 56px;
    margin-left: 322px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 322px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 130px;
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 220px;
    height: 220px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 252px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
    margin-left: 252px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 252px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-image-1 {
    width: 236px;
    height: 236px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin: -154px 82px 127px auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 62px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-bottom: 34px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 556px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  height: 512px;
  margin-top: 28px;
  margin-bottom: 28px;
  width: 100%;
  grid-gap: 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-2 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-6 {
  width: 213px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-7 {
  width: 213px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-8 {
  width: 213px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-9 {
  width: 213px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-10 {
  width: 213px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-11 {
  width: 213px;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-12 {
  width: 213px;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-13 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-13 {
  width: 213px;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-14 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-14 {
  width: 213px;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-15 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-15 {
  width: 213px;
}

.u-section-3 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-16 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-16 {
  width: 213px;
}

.u-section-3 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-17 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-17 {
  width: 213px;
}

.u-section-3 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 17px;
  }

  .u-section-3 .u-gallery-2 {
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vh;
}

.u-section-4 .u-text-1 {
  margin: 0 0 15px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 141px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 117px;
  margin: 17px auto 0;
}

.u-section-5 .u-image-1 {
  width: 206px;
  height: 61px;
  margin: 18px auto 17px;
} .u-section-6 {
  background-image: url("../../images/Screenshot2024-11-24233645.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 102px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 30px;
  }
}